* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8B0000; 
    color: #fff;
    padding: 10px 20px;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-title {
    font-size: 24px;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.profile-button {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.background-section {
    background: url('temple_bar_background.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 80vh; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(91, 91, 91, 0.5); 
    backdrop-filter: blur(8px); 
    z-index: 0;
}

.form-container {
    z-index: 1;
    background: rgba(255, 255, 255, 0.763); 
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
    text-align: center;
}

.location-form h2 {
    margin-bottom: 20px;
}

.location-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.location-form button {
    padding: 10px 20px;
    background-color: #8B0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.location-form button:hover {
    background-color: #a40000;
}

.white-section {
    background-color: white;
    padding: 60px 20px;
    text-align: center;
    position: relative;
}

.grey-div {
    background-color: #f3f3f3; 
    padding: 30px;
    border-radius: 10px;
    max-width: 75%;
    margin: 0 auto; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    text-align: center;
}

.grey-div h2 {
    margin-bottom: 20px;
}

.grey-div p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.sign-in {
    color: #fff;
}

.info-title {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: rgb(0, 0, 0);
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 10%; 
    flex-wrap: wrap; 
}

.info-box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    width: 40%;
    text-align: center;
    margin-bottom: 40px;
}

.info-box h3 {
    margin-bottom: 10px;
}

.info-box p {
    font-size: 14px;
    color: #333;
}

footer {
    background-color: #333; 
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-content a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-signature {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}